<!DOCTYPE html>
<html lang="en">

<head>
    <title>code-ape</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }

        #pmain {
            position: fixed;
            left: 50px;
            right: 0;
            top: 60px;
            bottom: 0;
            margin: auto;
            overflow: auto;
        }

        #main {
            position: relative;
            min-height: 1px;
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            box-shadow: 0 3px 10px 0 rgba(115, 143, 147, .3);
            background: rgb(249, 249, 249);
            border: 1px solid #eeeeee;
            border-radius: 2.5px;
            padding: 1.25rem;
            overflow: auto;
            margin: 2% auto 4%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <%- include ('navbar') %>
    <div id="pmain">
        <div id="main">
            <h2 align="center">Select topic to add questions</h2>
            <br><br>
            <form id="quesform">
                <select class="form-control" required id="topicSelector">
                    <% topics.forEach((elem) => { %>
                    <option value="<%= elem._id %>"><%= elem.title %></option>
                    <% }); %>
                </select>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add questions</button>
            </form>
            <br><br>
            <p align="center">----------------------  or  ----------------------</p>
            <br><br>
            <a href="/admin/add_topic/" class="btn btn-success btn-lg btn-block">Add new topic</a>
        </div>
    </div>
</body>

<script>
    document.getElementById("quesform").addEventListener("submit", (event) => {
        event.preventDefault();
        window.location.href = "/admin/add_question/" + document.getElementById("topicSelector").value;
    });
</script>

</html>